.role-2TIOKu {
    border-radius: 25px;
    background-color: rgba($color: #272727, $alpha: 0.4);
}
.member-perm {
    padding-left: 8px;
    .perm-circle {
        display: none;
    }
}
.textarea-_59yqs {
    --background-tertiary: rgba($color: #000000, $alpha: 0.8);
    background-color: rgba($color: #000000, $alpha: 0.3);
    border-radius: 10px;
}
.profileBadges-31rDHI {
    border-radius: 25px;
}